<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="314" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="64" />
	<property name="Signal Tree View.width" value="220" />
	<property name="View" value="tableview" />
	<property name="View.column_0_name" value="Signal" />
	<property name="View.column_0_show" value="true" />
	<property name="View.column_0_width" value="100" />
	<property name="View.column_1_name" value="Time" />
	<property name="View.column_1_show" value="true" />
	<property name="View.column_1_width" value="100" />
	<property name="View.column_2_name" value="Value" />
	<property name="View.column_2_show" value="true" />
	<property name="View.column_2_width" value="100" />
	<property name="View.column_3_name" value="Unit" />
	<property name="View.column_3_show" value="true" />
	<property name="View.column_3_width" value="100" />
	<property name="View.column_4_name" value="Raw" />
	<property name="View.column_4_show" value="true" />
	<property name="View.column_4_width" value="100" />
	<property name="View.column_5_name" value="Text" />
	<property name="View.column_5_show" value="true" />
	<property name="View.column_5_width" value="100" />
	<property name="View.height" value="677" />
	<property name="View.maximized" value="false" />
	<property name="View.signal_0_displayname" value="i16ManeuverEntry" />
	<property name="View.signal_0_name" value="adtf.core.mediadescription_manager/AADC_Jury_Module/Jury_Struct/data/tJuryStruct/i16ManeuverEntry" />
	<property name="View.signal_0_unit" value="" />
	<property name="View.signal_1_displayname" value="i8ActionID" />
	<property name="View.signal_1_name" value="adtf.core.mediadescription_manager/AADC_Jury_Module/Jury_Struct/data/tJuryStruct/i8ActionID" />
	<property name="View.signal_1_unit" value="" />
	<property name="View.signal_count" value="2" />
	<property name="View.width" value="550" />
	<property name="View.x_pos" value="0" />
	<property name="View.y_pos" value="0" />
	<property name="width" value="420" />
</xml>
