<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="294" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="64" />
	<property name="Signal Tree View.width" value="220" />
	<property name="View" value="tableview" />
	<property name="View.column_0_name" value="Signal" />
	<property name="View.column_0_show" value="true" />
	<property name="View.column_0_width" value="100" />
	<property name="View.column_1_name" value="Time" />
	<property name="View.column_1_show" value="true" />
	<property name="View.column_1_width" value="100" />
	<property name="View.column_2_name" value="Value" />
	<property name="View.column_2_show" value="true" />
	<property name="View.column_2_width" value="209" />
	<property name="View.column_3_name" value="Unit" />
	<property name="View.column_3_show" value="true" />
	<property name="View.column_3_width" value="100" />
	<property name="View.column_4_name" value="Raw" />
	<property name="View.column_4_show" value="true" />
	<property name="View.column_4_width" value="100" />
	<property name="View.column_5_name" value="Text" />
	<property name="View.column_5_show" value="true" />
	<property name="View.column_5_width" value="298" />
	<property name="View.height" value="351" />
	<property name="View.maximized" value="false" />
	<property name="View.signal_0_displayname" value="tPoint.xCoordinate" />
	<property name="View.signal_0_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/pose/data/tPose/tPoint/tPoint.xCoordinate" />
	<property name="View.signal_0_unit" value="" />
	<property name="View.signal_1_displayname" value="tPoint.yCoordinate" />
	<property name="View.signal_1_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/pose/data/tPose/tPoint/tPoint.yCoordinate" />
	<property name="View.signal_1_unit" value="" />
	<property name="View.signal_2_displayname" value="theta" />
	<property name="View.signal_2_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/pose/data/tPose/theta" />
	<property name="View.signal_2_unit" value="" />
	<property name="View.signal_3_displayname" value="tPoint.xCoordinate" />
	<property name="View.signal_3_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/speed/data/tPose/tPoint/tPoint.xCoordinate" />
	<property name="View.signal_3_unit" value="" />
	<property name="View.signal_4_displayname" value="tPoint.yCoordinate" />
	<property name="View.signal_4_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/speed/data/tPose/tPoint/tPoint.yCoordinate" />
	<property name="View.signal_4_unit" value="" />
	<property name="View.signal_5_displayname" value="theta" />
	<property name="View.signal_5_name" value="adtf.core.mediadescription_manager/KATANA_Odometry_Filter/speed/data/tPose/theta" />
	<property name="View.signal_5_unit" value="" />
	<property name="View.signal_count" value="6" />
	<property name="View.width" value="860" />
	<property name="View.x_pos" value="0" />
	<property name="View.y_pos" value="0" />
	<property name="width" value="420" />
</xml>
